<h1><%= @individual.name %></h1>
<p><%= @individual.email_display %></p>
<p><%= @individual.age %></p>
<p><%= @individual.improve %></p>
<p><%= @individual.emitters.count%></p>

<p><%= link_to "#{@individual.name}'s Emitters", "/individuals/#{@individual.id}/emitters" %></p>
<%= button_to "Delete #{@individual.name}", "/individuals/#{@individual.id}", method: :delete %>

<p><%= link_to "All Individuals", "/individuals" %></p>
<p><%= link_to "All Emitters", "/emitters" %></p>