<h1> <%= @individual.name + "'s Emitters" %> </h1>
<% @emitters.each do |emitter| %>
<p><%= emitter.appliance%></p>
<p><%= emitter.co2e_per_hour%></p>
<p><%= emitter.hours_per_day%></p>
<p><%= emitter.use%></p>
<p><%= link_to "View #{emitter.appliance}", "/emitters/#{emitter.id}" %></p>
<p><%= link_to "Edit #{emitter.appliance}", "/emitters/#{emitter.id}/edit" %></p>
<% end %>
<p><%= link_to "Add an emitter for #{@individual.name}", "/individuals/#{@individual.id}/emitters/new" %></p>

# <%= form_with url: "/individuals/#{@individual.id}/emitters", method: :get, data: { turbo: false } do |f| %>
# <%= f.label :conditional, "Only show emitters with CO2e over"%></br>
# <%= f.number_field :conditional %></br>
# <% end %>
#<p><%= button_to "Only return records with more than value of CO2e/hour", "/individuals/#{@individual.id}/emitters" %></p>

<p><%= link_to "All Individuals", "/individuals" %></p>
<p><%= link_to "All Emitters", "/emitters" %></p>